fastapi==0.116.1
uvicorn[standard]==0.35.0

pymongo==4.13.2
motor==3.7.1

python-dotenv==1.1.1

pydantic==2.11.7
email-validator==2.2.0

phonenumbers==9.0.10

passlib[bcrypt]==1.7.4

python-jose[cryptography]==3.5.0

python-multipart==0.0.20

unstructured==0.18.11
python-docx==1.2.0
pypdf==6.0.0

langchain==0.3.27
langchain-core==0.3.74
langchain-community==0.3.29
langchain-text-splitters==0.3.9

pinecone==7.3.0

langchain-google-genai==2.1.10
langchain-pinecone

google-genai==1.33.0