fastapi==0.116.1
uvicorn[standard]==0.35.0

pymongo==4.13.2
motor==3.7.1

python-dotenv==1.1.1

pydantic==2.11.7
email-validator==2.2.0

passlib[bcrypt]==1.7.4

python-jose[cryptography]==3.5.0

python-multipart==0.0.20

python-docx==1.2.0
pypdf==6.0.0

langchain
langchain-core
langchain-community
langchain-text-splitters

pinecone==7.3.0

langchain-google-genai==2.1.10
langchain-pinecone

google-genai==1.33.0